cpw2m.bat
app.js
audit.txt
cert.json
childproc
config.js
db
deptworklog
develop_api.txt
ecosystem.config-back.js
ecosystem.config.js
flask/env
jsondata
lib
mq.js
node_modules
obj
package-lock.json
package.json

public/@zxing
public/acme-challenge
public/barcode
public/ckeditor
public/countdown
public/doc
public/eForm
public/favicon.ico
public/fonts
public/images
public/jquery-ui-dist
public/public/MathsChart
public/mk
public/png
public/qr
public/static
public/studjpg
public/T19_KIDS_ADMISSION
public/T20_KIDS_ADMISSION
public/ts-custom-error

README.md
run_mail.mbc.edu.mo.bat
sharefiles
SQL.sql
sslcert
SslLicense.js
TodoApi
tools
UserCache.dat
Web.njsproj
views/about.pug
views/attend
views/azwg
views/bookinglaboratory
views/bookingplayground
views/contact.pug
views/dashboard
views/deptworklog
views/discipline
views/disciplineExemption
views/error.pug
views/execudept
views/flashpage.pug
views/GridStafEval
views/home.pug
views/index.pug
views/index0.pug
views/index99.pug
views/kideval
views/layout.pug
views/leaveapplication
views/localnews
views/login.pug
views/maths
views/profile.pug
views/ProWorkReport
views/sportdoc
views/sslforfree
views/studinfo
views/utils
views/workgrid
views/workitsdlc
views/worknote
routes/amdpv5
routes/attend
routes/azwg
routes/bookinglaboratory
routes/bookingplayground
routes/dashboard
routes/Disciplinary_office
routes/discipline
routes/disciplineExemption
routes/execudept
routes/execudeptStudImage
routes/GridStafEval
routes/index.js
routes/JOBC
routes/kideval
routes/leaveapplication
routes/localnews
routes/maths
routes/mysql250
routes/ProWorkReport
routes/sidebar_menu_item.js
routes/sidebar_menu_item_99.js
routes/sslforfree
routes/studinfo
routes/utils
routes/workgrid
routes/workitsdlc
routes/worknote
routes/_kidevalTEST
*.pyc
flask/config.py

