extends ../base.pug  

block content
  script(src='/javascripts/jquery.js')
  script(src='/javascripts/bootstrap.js')  
  script(src='/jquery-ui-dist/jquery-ui.js')
  link(rel='stylesheet', href='/jquery-ui-dist/jquery-ui.css')
  table
    != books
    
   

