extends ./base.pug
  
block content 
  h3 2021年度活動課列表
  h4 小學活動課
  div#pcourselist 
    div 'VEX IQ未來之星機械人培訓課程',
    div 'We do機械人初階',
    div '小提琴初級A班',
    div '小提琴初級B班',
    div '小提琴高級A班',
    div '小提琴高級B班',
    div '小學We do創意機械人',
    div '小學中提琴A班',
    div '小學中提琴B班',
    div '小學合唱團',
    div '小學長跑隊',
    div '小學網球班',
    div '小學舞蹈團',
    div '小學舞蹈團(中級班)',
    div '小學戲劇班',
    div '小學體能訓練班',
    div '中國毛筆書法班',
    div '兒童非洲鼓樂遊藝啟蒙班',
    div '兒童藝術果醬',
    div '兒歌學英文班',
    div '初小女子籃球班',
    div '初小手球班',
    div '初小田徑訓練班',
    div '初小羽毛球班',
    div '初小足球班',
    div '初小柔道班',
    div '初小排球班',
    div '初小圍棋入門班',
    div '初小籃球興趣班',
    div '故事骰樂園',
    div '美術設計基礎班',
    div '高小手球班',
    div '高小田徑訓練班',
    div '高小乒乓球班',
    div '高小羽毛球班',
    div '高小足球班',
    div '高小柔道班',
    div '高小排球班',
    div '高小圍棋入門班',
    div '高小籃球班(男女混合)',
    div '高小籃球興趣班',
    div '跆拳道初小興趣班',
    div '跆拳道高小興趣班',
    div '劍撃初小班',
    div '劍撃高小班',
  h3 中學活動課
  div#scourselist 
    div 'VEX IQ工程機器人'
    div 'VEX IQ工程機器人中學培訓班'
    div 'VEX VRC 機器人工程挑戰項目培訓班'
    div '中學合唱團'
    div '中學圍棋入門'
    div '中學柔道班'
    div '中學網球班'
    div '中學羽毛球班'
    div '中學舞蹈團'
    div '中學跆拳道興趣班'
    div '中學長跑隊'
    div '中提琴A班'
    div '中提琴B班'
    div '中提琴C班'
    div '中文辯論班'
    div '低音大提琴班'
    div '低音銅管班'
    div '健身班'
    div '初中戲劇班'
    div '初中排球班'
    div '初中日語入門班'
    div '初中足球班'
    div '初級田徑興趣班'
    div '創新發明實踐活動'
    div '劍擊初中班'
    div '劍擊高中班'
    div '化學實驗班—認識生活水的奧秘及澳門水體研究'
    div '古箏興趣班初階'
    div '單簧管班'
    div '國際青年獎勵計劃'
    div '基礎急救班'
    div '大提琴A班'
    div '大提琴B班'
    div '天文興趣小組'
    div '女子籃球班'
    div '室內樂演奏'
    div '小提琴A班'
    div '小提琴B班'
    div '小提琴C班'
    div '小號班'
    div '巴松管班'
    div '弦樂重奏'
    div '投擲班(標槍、鉛球、鐵餅)'
    div '敲擊樂班'
    div '有心人樂滿義工FUN'
    div '校園電視台及電台節目製作班'
    div '正能量義工小組2020-2021'
    div '毛筆書法研習班'
    div '法國號班'
    div '浸信DJI RoboMaster人工智能實踐機械人班'
    div '無人機航拍機興趣課程'
    div '生活創意陶藝班(初中)'
    div '生活創意陶藝班(高中)'
    div '男A籃球班'
    div '男B籃球班'
    div '男C籃球班'
    div '管弦樂團'
    div '管弦樂團分部—中提琴'
    div '管弦樂團分部—大提琴'
    div '管弦樂團分部—小提琴'
    div '管弦樂團分部—木管'
    div '管弦樂團分部—銅管'
    div '管弦樂團分部—銅管及敲擊樂'
    div '管樂A團'
    div '管樂B團'
    div '管樂團分'
    div '管樂團分部—木管'
    div '管樂團分部—銅'
    div '管樂團分部—銅管及敲擊樂'
    div '薩克管班'
    div '視覺藝術'
    div '長笛班'
    div '長跑體能訓練班'
    div '雙簧管班'
    div '高中戲劇班'
    div '高中排球班'
    div '高中日語入門班'
    div '高中足球班'
    div '高級急救班'
    div '高級田徑興趣班'