table {
    border-collapse: collapse;
	font-size: 80%;
}

table, td, th {
    border: 1px solid black;
}
div {
    max-height: 35px;
	//max-width: 30px;
    overflow: hidden;
	margin:0 0 0 0;
}
th{
	height:20px;
	max-height:20px;
	overflow:hidden;
	text-align:right;
}
td
{
	margin:0 0 0 0;
	height:20px;
	max-height:20px;
	overflow:hidden;
	text-align:right;
}
td.M
{
	height:20px;
	max-height:20px;
	text-align:right;
}