doctype html
html
  head
    title 巡課系統
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='/jquery-ui-dist/jquery-ui.min.js')
    script(src='/javascripts/cool/widget_combobox.js')    
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/jquery-ui-dist/jquery-ui.min.css')
  body
    .navbar.navbar-default
      .container
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          .navbar-brand
            span 巡課系統
        .navbar-collapse.collapse                         
          ul.nav.navbar-nav
            li
              a(href="/internal/") 
                span(class="glyphicon") &#xe021
            li
              a(href="/internal/classeval") 
                span 巡課
            li
              a(href="/internal/classeval/searchform") 
                span 查詢
          ul.navbar-text.navbar-right
            if profile
              if profile.image
                img.img-circle(src=profile.image, width=24)
              span #{profile.displayName} &nbsp;
                a(href='/logout') (logout)
            else
              a(href='/login') Login
    .container
      block content
