table
  each cno in ["I1A","I1B","I1C","I1D","I2A","I2B","I2C","I2D","I3A","I3B","I3C","I3D",]
    tr
      td
        a(href=`/internal/markup/kidsreport/KSCORE/${cno}`)= cno
      td
        a(href=`/internal/markup/kidsreport/KASSESS/${cno}`)= cno
    
    