div(title="Show Msg",style="display:none")#ShowMsg
  pre#ShowMsgTxt 
script(type="text/javascript"). 
  function ShowMsg(x)
  {
    document.getElementById("ShowMsgTxt").innerHTML=x;
    $("#ShowMsg").dialog("open"); 
    //$("#ShowMsg").dialog( { autoOpen: false, });   
  }
  
  $(document).ready(function(){
    $("#ShowMsg").dialog( { autoOpen: false, });
  });
