doctype html
html
  head
    title MarkSi
    meta(charset='utf-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/cool/grid_export.js')    
    script(src='/jquery-ui-dist/jquery-ui.min.js')    
    link( href='/jquery-ui-dist/jquery-ui.min.css',rel='stylesheet' )
    script.
      function sleeper(ms) {
        return function(x) {
        return new Promise(resolve => setTimeout(() => resolve(x), ms));
        };
      }
      async function SaveJson(json,savejsonurl)
      {
       ShowMsg("Loading ... ");
       let msg="";
       let cnt=0;
       let filterjson=[];
       for(let i=0;i<json.length;i++)
       {
         if(json[i][0]==""){  continue;}
         filterjson.push(json[i]);
         cnt++;
         if(cnt>40){
           console.log(filterjson);
           $.post( savejsonurl,{data: filterjson})
           .done( function(data) {  msg+=data+"\n";   ShowMsg(msg);   });
           filterjson=[];
           filterjson.push(json[0]);
           cnt=0;
           console.log(cnt);
           await new Promise(resolve => setTimeout(resolve, 1000));
         }
       }
       $.post(savejsonurl,{data: filterjson}).done( function(data) {
           msg+=data; 
           ShowMsg(msg);   
       });
       await new Promise(resolve => setTimeout(resolve, 1000));
       msg+="\n完成!";
       ShowMsg(msg);  
      }
  body
    .navbar.navbar-default
      .container
        .navbar-header
          .navbar-brand
          a.navbar-brand
            img(src="/images/markicon/Palmtree.ico")
        ul.nav.navbar-nav
          li
            a(href="/internal/") 
              span(class="glyphicon") &#xe021
          li
            a(href="/internal/markup") 成績系統
          li
            a(href="/internal/markup/mycourse") 我的課程
          li
            a(href="/internal/markup/myclass") 班級課程
          li(class="dropdown")
            a(class="dropdown-toggle", data-toggle="dropdown", href="#" ) 科組
              span(class="caret")
                ul(class="dropdown-menu")
                  li
                    a(href="/internal/markup/subitem/ObserveList") 觀察組員平時分數                    
                  li#RegObserver  
                    a(href="/internal/markup/subitem/RegObserver") 登記科組                    

          li(class="dropdown")
            a(class="dropdown-toggle", data-toggle="dropdown", href="#" ) 違規
              span(class="caret")
                ul(class="dropdown-menu")
                  li
                    a(href="/internal/markup/myclassShowWRGTJ") 顯示違規統計表                    
                  li
                    a(href="/internal/markup/myclassWRGTJ") 計算違規統計            
          //li
            a(href='/internal/markup')
              span(class="glyphicon glyphicon-search")
          li(class="dropdown")
            a(class="dropdown-toggle", data-toggle="dropdown", href="#" ) 班級資料
              span(class="caret")
                ul(class="dropdown-menu")
                  li
                    a(href= '/doc/mark_statistics_form_20181212.xlsx') xlsx表格
                  //li
                    a(href= '/internal/markup/marktotal/mrs_class_mark_total_tab_report.php?term=1') 第1段總表
                  //li
                    a(href=  '/internal/markup/marktotal/mrs_class_mark_total_tab_report.php?term=2') 第2段總表
                  //li
                    a(href=  '/internal/markup/marktotal/mrs_class_mark_total_tab_report.php?term=3') 第3段總表
                  //li
                    a(href=  '/internal/markup/marktotal/mrs_class_mark_total_tab_report.php?term=4') 學年總表
                  if profile.id=="2002024" || profile.id=="1989002" || profile.id=="2006011"  
                    li
                      a(href=`/internal/markup/InputMarkNoticParam`) 打印段成績通知單
                    li             
                      a(href=`/internal/markup/InputMarkReportParam`) 打印段成績                    
        p.navbar-text.navbar-right
          if profile
            if profile.image
              img.img-circle(src=profile.image, width=24)
            span #{profile.displayName} &nbsp;
              a(href='/logout') (logout)
          else
            a(href='/login') Login
  
    .container
      block content
